In [21]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# from pymongo import mongo_client
from pymongo import MongoClient
from pandas.io import json

In [3]:
client = MongoClient('localhost', 27017)

In [9]:
# lets see the database names
client.list_database_names()

['admin', 'config', 'internshalla', 'local']

In [10]:
db = client.internshalla

In [13]:
# lets see the total collection names present in the internshalla database
collect_names = db.list_collection_names()

['users',
 'attempts',
 'grades',
 'practicesets',
 'topics',
 'subjects',
 'questions',
 'attemptdetails']

In [29]:
users_df = json.json_normalize(list(db.users.find()))
attempts_df = json.json_normalize(list(db.attempts.find()))
grades_df = json.json_normalize(list(db.grades.find()))
practicesets_df = json.json_normalize(list(db.practicesets.find()))
topics_df = json.json_normalize(list(db.topics.find()))
subjects_df = json.json_normalize(list(db.subjects.find()))
questions_df = json.json_normalize(list(db.questions.find()))
attemptdetails_df = json.json_normalize(list(db.attemptdetails.find()))

In [30]:
users_df.head()

,__v,_id,about,avatar._id,avatar.fileName,avatar.fileUrl,avatar.mimeType,avatar.path,avatar.size,avatarMD._id,...,state,status,streamUrl,street,studentExclusive,theme,trainingCertifications,updatedAt,userId,web
0,1,5ba5dd1b7fd1c520c12710ee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,True,,NaN,False,NaN,NaN,2018-09-22 06:11:39.601,s6o9mreasdhzdufo@gmail.com,NaN
1,2,5ba5dd1d7fd1c5a3fb2710f2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Punjab,True,,NaN,False,NaN,NaN,2018-09-22 06:11:41.955,d8o2oank.iamna@gmail.com,NaN
2,2,5ba5dd217fd1c56a6e2710f8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Punjab,True,,NaN,False,NaN,NaN,2018-09-22 06:11:45.281,9591871089,NaN
3,2,5ba5dd237fd1c5babe2710fd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Punjab,True,,NaN,False,NaN,NaN,2018-09-22 06:11:47.159,9819563408,NaN
4,1,5ba5de707fd1c552b32712cd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,True,,NaN,False,NaN,NaN,2018-09-22 06:17:20.076,9035735367,NaN

In [31]:
attempts_df.head()

,__v,_id,attemptType,attemptdetails,createdAt,createdBy.name,createdBy.user,email,idOffline,isAbandoned,...,totalCorrects,totalErrors,totalMark,totalMarkeds,totalMissed,totalQuestions,totalTime,updatedAt,user,userId
0,0,5b851ffdb0a5d1ad413d8301,NaN,5b851ffdb0a5d17a103d8302,2018-08-28 09:23:57.839,teacherlpu,5b3e0266a14b7e000d9cc040,None,None,False,...,35,20,35.0,0,0,55,2887958,2018-08-28 10:12:25.489,5b82922edd6c9c6e6db00fb0,NaN
1,0,5b852003b0a5d136aa3d8371,NaN,5b852003b0a5d190863d8372,2018-08-28 09:17:11.950,teacherlpu,5b3e0266a14b7e000d9cc040,None,None,False,...,31,24,31.0,0,0,55,3300006,2018-08-28 10:12:39.239,5b829227dd6c9c4c7fb00da0,NaN
2,0,5b851ff7dd6c9c8cedb051d3,NaN,5b851ff7dd6c9c400eb051d4,2018-08-28 09:17:00.084,teacherlpu,5b3e0266a14b7e000d9cc040,None,None,False,...,25,9,25.0,0,21,55,3299999,2018-08-28 10:12:21.337,5b82922cdd6c9c2801b00f20,NaN
3,0,5b852014b0a5d10fc33d83e4,NaN,5b852014b0a5d11fd13d83e5,2018-08-28 09:17:28.725,teacherlpu,5b3e0266a14b7e000d9cc040,None,None,False,...,29,15,29.0,0,11,55,3300049,2018-08-28 10:12:59.708,5b82922add6c9c5f61b00e6a,NaN
4,0,5b85200948598b0aa6eabf57,NaN,5b85200948598b0d5beabf58,2018-08-28 09:17:16.906,teacherlpu,5b3e0266a14b7e000d9cc040,None,None,False,...,16,19,16.0,0,20,55,3300005,2018-08-28 10:12:38.440,5b82922edd6c9cd998b00f86,NaN

In [32]:
grades_df.head()

,ShortName,__v,_id,active,adaptive,countryCode,createdAt,empIndex,isDefault,levels,moveType,name,slugfly,subjects,updatedAt,view
0,ECE,0.0,6cd9a31607654fe0b5db94b9,True,False,IN,2017-10-09 06:09:57.000,NaN,False,NaN,2.0,Electronics & Communication Engineering,electronics--communication-engineering,"[0e8b97135a8e451a917644e8, d9208d94105e43c3ad7...",2017-10-09 06:09:57.000,NaN
1,MCH,0.0,583b478ea0399b0001798fbb,True,False,IN,2016-11-27 20:52:30.100,NaN,False,NaN,2.0,Mechanical Engineering,mechanical-engineering,"[583b47caa0399b0001798fbc, 583b47dda0399b00017...",2017-10-09 02:18:43.804,banking.html
2,PRT,0.0,b0e56effc8ff4d969c41c40c,True,False,IN,2017-03-30 11:14:17.000,True,True,"[{'name': 'Level 1', 'value': 1.0}, {'name': '...",2.0,Placement Readiness Tests,placement-readiness-tests,"[a262c47026a44718acd41306, e8cfb0328cda490ca3e...",2017-03-30 11:14:17.000,NaN
3,Psy,NaN,5bacca975cb8c3baf1c24301,True,False,IN,2018-09-27 12:18:32.640,NaN,True,NaN,NaN,Psychometric Test,psychometric-test,"[5bacca975cb8c3baf1c24302, 5bacca975cb8c3baf1c...",2018-09-27 12:18:32.640,NaN
4,PRG,0.0,5bc97c1e6dcc694f0247ea57,True,False,IN,2018-10-19 06:39:26.505,NaN,True,"[{'name': 'Level 1', 'value': 1.0}, {'name': '...",1.0,Programming,programming,"[3835d8c367564425b162d7db, 5bfdb373ab9c272b3ea...",2018-10-19 06:39:26.505,

In [33]:
practicesets_df.head()

,__v,_id,accessMode,attemptAllowed,classRooms,countryCode,createMode,createdAt,currencyCode,demographicData.city,...,title,titleLower,totalAttempt,totalJoinedStudent,totalQuestion,totalTime,updatedAt,user,userInfo._id,userInfo.name
0,41,5b3e0b17a14b7e000d9cc116,invitation,NaN,[],IN,webUpload,2018-07-05 12:12:07.958,INR,False,...,Novice to Ninja <JAVA> Baseline Test,novice to ninja <java> baseline test,0,0,30,5400.0,2018-10-21 16:58:33.836,5b3778f43331fd000d75e277,5b3778f43331fd000d75e277,LPU Admin
1,15,5b3e23e4e87c53000d7cb59d,invitation,0.0,"[5b48c84c1e6eaf000dca5814, 5b3e1c67a14b7e000d9...",IN,webUpload,2018-07-05 13:57:56.536,INR,False,...,Placement Readiness Test (Lite) - Baseline Test,placement readiness test (lite) - baseline test,31,31,45,3600.0,2018-07-05 14:01:21.741,5b3778f43331fd000d75e277,5b3778f43331fd000d75e277,LPU Admin
2,2,5b49c3773222c8000c196745,invitation,0.0,[5b48c84c1e6eaf000dca5814],IN,webManual,2018-07-14 09:33:43.585,INR,False,...,Placement Readiness Test <C++ Coding> Practice...,placement readiness test <c++ coding> practice...,5,2,2,900.0,2018-07-14 09:38:42.221,5b3778f43331fd000d75e277,5b3778f43331fd000d75e277,LPU Admin
3,2,5b49c5853222c8000c1967bc,invitation,0.0,[5b48c84c1e6eaf000dca5814],IN,webManual,2018-07-14 09:42:29.024,INR,False,...,Placement Readiness Test <Java Coding> - Pract...,placement readiness test <java coding> - pract...,7,6,2,900.0,2018-07-14 09:45:31.295,5b3778f43331fd000d75e277,5b3778f43331fd000d75e277,LPU Admin
4,0,5b49c2ed3222c8000c1966cb,invitation,0.0,[5b48c84c1e6eaf000dca5814],IN,webUpload,2018-07-14 09:31:25.634,INR,False,...,KSOLVES– Java – Practice Set – 1-QA,ksolves– java – practice set – 1-qa,28,28,20,NaN,2018-07-14 09:31:25.634,5b3778f43331fd000d75e277,5b3778f43331fd000d75e277,LPU Admin

In [34]:
topics_df.head()

,__v,_id,active,createdAt,name,slugfly,subject,updatedAt
0,0.0,0e2e57dd349244c19b819f69,True,2017-08-31T10:39:24,Laplace Transform,laplace-transform,9c6bdbbdab294f3588ed7bb4,2017-08-31T10:39:24
1,0.0,33793df021c84600955ca6a0,True,2017-08-31T10:39:24,Miscellaneous,miscellaneous,9c6bdbbdab294f3588ed7bb4,2017-08-31T10:39:24
2,0.0,42fda27216e543ed8c5877c0,True,2017-08-31T10:39:24,Probability & Statistics Fundamentals,probability--statistics-fundamentals,9c6bdbbdab294f3588ed7bb4,2017-08-31T10:39:24
3,0.0,df3258f2056e4e73b402bb8a,True,2017-08-31T10:39:24,Solid Waste Management,solid-waste-management,3189e97498e640cd8417bf14,2017-08-31T10:39:24
4,0.0,997795716b43449d9928453d,True,2017-08-31T10:39:24,Dimensional Analysis,dimensional-analysis,7cf7bdb1c1464e82b21de6c9,2017-08-31T10:39:24

In [35]:
subjects_df.head()

,__v,_id,active,countryCode,createdAt,grade,levels,name,slugfly,status,topics,updatedAt
0,0.0,74296ce7aa304946b5629635,True,IN,2017-08-31 10:39:24.000,d51036e3049840aeab2bb394,"[{'name': 'Level 1', 'value': 1.0, 'quantity':...",Concrete Structures (Rcc),concrete-structures-rcc,NaN,"[01b7f0900c4c4bcab93ad326, 547f8dda522343aaa6e...",2017-08-31 10:39:24.000
1,0.0,5ab2629e792f9e000be365d4,True,IN,2018-03-21 13:48:14.212,d51036e3049840aeab2bb394,"[{'name': 'Level 1', 'value': 1.0, 'quantity':...",Ground Improvement Engineering,ground-improvement-engineering,NaN,"[5ab262c2792f9e000be365d5, 5ab262d5792f9e000be...",2018-03-21 13:48:14.212
2,0.0,5ab098cd0f7749000ba1c331,True,IN,2018-03-20 05:14:53.218,d51036e3049840aeab2bb394,"[{'name': 'Level 1', 'value': 1.0, 'quantity':...",Construction Methods and Equipments,construction-methods-and-equipments,NaN,"[5ab098ee0f7749000ba1c332, 5ab099230f7749000ba...",2018-03-20 05:14:53.218
3,0.0,bfee82a9885e4965841fa7ee,True,IN,2017-08-31 10:39:24.000,d51036e3049840aeab2bb394,"[{'name': 'Level 1', 'value': 1.0, 'quantity':...",Hydrology,hydrology,NaN,"[9b10f05ef3074e3e806c281c, add1c673ff8445a5a99...",2017-08-31 10:39:24.000
4,0.0,5ac5e672bb5152000d09e0c3,True,IN,2018-04-05 09:03:46.149,d51036e3049840aeab2bb394,"[{'name': 'Level 1', 'value': 1.0, 'quantity':...",Project Implementation & Practices,project-implementation-and-practices,NaN,"[5ac5e68abb5152000d09e0c4, 5ac5e699bb5152000d0...",2018-04-05 09:03:46.149

In [36]:
attemptdetails_df.head()

,QA,__v,_id,attempt,createdAt,isAbandoned,practicesetId,updatedAt,user
0,"[{'question': 5b82ecb0dd6c9c00e1b01857, 'timeE...",0,5b83d566af15dcb2402312df,5b83d566af15dc6d322312de,2018-08-27 10:41:42.351,False,5b82ecb0dd6c9c3785b01856,2018-08-27 10:41:42.351,5b82922cdd6c9c67f5b00ef6
1,"[{'question': 5b82ecb0dd6c9c00e1b01857, 'timeE...",0,5b83d5723a227f518ce1770b,5b83d5723a227f350be1770a,2018-08-27 10:41:54.195,False,5b82ecb0dd6c9c3785b01856,2018-08-27 10:41:54.195,5b82922edd6c9c0c57b00f90
2,"[{'question': 5b82ecb0dd6c9c00e1b01857, 'timeE...",0,5b83d57edd6c9c2b7db02a8f,5b83d57edd6c9c8ec5b02a8e,2018-08-27 10:42:06.566,False,5b82ecb0dd6c9c3785b01856,2018-08-27 10:42:06.566,5b82922edd6c9c52c9b00fbe
3,"[{'question': 5b82ecb0dd6c9c00e1b01857, 'timeE...",0,5b83d58648598b77a0ea8a2a,5b83d58548598bb42dea8a29,2018-08-27 10:42:14.080,False,5b82ecb0dd6c9c3785b01856,2018-08-27 10:42:14.080,5b82922edd6c9c55fbb00f92
4,"[{'question': 5b82ecb0dd6c9c00e1b01857, 'timeE...",0,5b83d58c48598b0d31ea8a8c,5b83d58c48598bec32ea8a8b,2018-08-27 10:42:20.879,False,5b82ecb0dd6c9c3785b01856,2018-08-27 10:42:20.879,5b829227dd6c9c9dacb00da2

In [23]:
questions_list = list(db.questions.find())

In [24]:
q_normalized = json.json_normalize(questions_list)

In [19]:
questions_df = pd.DataFrame(list(db.questions.find()))

In [20]:
questions_df.head()

,__v,_id,alternativeExplanations,answerExplain,answerExplainArr,answerNumber,answers,approveStatus,argumentDescription,category,...,questionText,questionTextArray,questionType,subject,tags,topic,updatedAt,user,userInputDescription,wordLimit
0,1.0,5b3e0b17a14b7e000d9cc12b,[],,[],4.0,[],,,mcq,...,,[],single,"{'_id': 3835d8c367564425b162d7db, 'name': 'Cor...",[],"{'name': 'Conditions', '_id': 5a85811318fa6700...",2018-10-21 16:53:09.339,5b3e07fea14b7e000d9cc109,,1.0
1,1.0,5b3e0b17a14b7e000d9cc117,[],,[],4.0,[],,,mcq,...,,[],single,"{'_id': 3835d8c367564425b162d7db, 'name': 'Cor...",[],"{'name': 'Basic Concepts', '_id': fa666afaf211...",2018-12-29 17:28:21.624,5b3e07fea14b7e000d9cc109,,1.0
2,1.0,5b3e0b18a14b7e000d9cc144,[],,[],4.0,[],,,mcq,...,,[],single,"{'_id': 3835d8c367564425b162d7db, 'name': 'Cor...",[],"{'name': 'Arrays', '_id': 5b1127da4ecf13000ccf...",2018-10-21 16:54:16.498,5b3e07fea14b7e000d9cc109,,1.0
3,1.0,5b3e0b18a14b7e000d9cc135,[],,[],4.0,[],,,mcq,...,,[],single,"{'_id': 3835d8c367564425b162d7db, 'name': 'Cor...",[],"{'name': 'Constructor and Destructor', '_id': ...",2018-10-21 16:53:40.107,5b3e07fea14b7e000d9cc109,,1.0
4,1.0,5b3e0b17a14b7e000d9cc11c,[],,[],4.0,[],,,mcq,...,,[],single,"{'_id': 3835d8c367564425b162d7db, 'name': 'Cor...",[],"{'name': 'Basic Concepts', '_id': fa666afaf211...",2018-10-21 16:51:46.762,5b3e07fea14b7e000d9cc109,,1.0

In [28]:
topics_df

,__v,_id,active,createdAt,name,slugfly,subject,updatedAt
0,0.0,0e2e57dd349244c19b819f69,True,2017-08-31T10:39:24,Laplace Transform,laplace-transform,9c6bdbbdab294f3588ed7bb4,2017-08-31T10:39:24
1,0.0,33793df021c84600955ca6a0,True,2017-08-31T10:39:24,Miscellaneous,miscellaneous,9c6bdbbdab294f3588ed7bb4,2017-08-31T10:39:24
2,0.0,42fda27216e543ed8c5877c0,True,2017-08-31T10:39:24,Probability & Statistics Fundamentals,probability--statistics-fundamentals,9c6bdbbdab294f3588ed7bb4,2017-08-31T10:39:24
3,0.0,df3258f2056e4e73b402bb8a,True,2017-08-31T10:39:24,Solid Waste Management,solid-waste-management,3189e97498e640cd8417bf14,2017-08-31T10:39:24
4,0.0,997795716b43449d9928453d,True,2017-08-31T10:39:24,Dimensional Analysis,dimensional-analysis,7cf7bdb1c1464e82b21de6c9,2017-08-31T10:39:24
5,0.0,89d30eda77624b6cbf5f5276,True,2017-08-31T10:39:24,Steel,steel,56bd5fc60799471c90a7f5ea,2017-08-31T10:39:24
6,0.0,bfece34a2a334d75b451a7b8,True,2017-08-31T10:39:24,Drag & Lift,drag--lift,7cf7bdb1c1464e82b21de6c9,2017-08-31T10:39:24
7,0.0,547f8dda522343aaa6eece30,True,2017-08-31T10:39:24,Bond & Anchorage,bond--anchorage,74296ce7aa304946b5629635,2017-08-31T10:39:24
8,0.0,5b03a412089c41000b8c02cf,True,2018-05-22 05:01:06.437000,Energy Depth Relationship,energy-depth-relationship,7cf7bdb1c1464e82b21de6c9,2018-05-22 05:01:06.437000
9,0.0,12b26d2efdf54ce792843f2d,True,2017-08-31T10:39:24,Miscellaneous,miscellaneous,56bd5fc60799471c90a7f5ea,2017-08-31T10:39:24
10,0.0,69d211eef6884c65a5a2450f,True,2017-08-31T10:39:24,Stone,stone,56bd5fc60799471c90a7f5ea,2017-08-31T10:39:24
11,0.0,658ee7210f5641cf8e72a09c,True,2017-08-31T10:39:24,Limit State Of Collapse In Shear,limit-state-of-collapse-in-shear,74296ce7aa304946b5629635,2017-08-31T10:39:24
12,0.0,421f295881ed420b8ff0e395,True,2017-08-31T10:39:24,Fluid Kinematics,fluid-kinematics,7cf7bdb1c1464e82b21de6c9,2017-08-31T10:39:24
13,0.0,5ac5e5f0bb5152000d09e0bc,True,2018-04-05 09:01:36.702000,Comprehensive Structural Analysis,comprehensive-structural-analysis,5ac5e5d6bb5152000d09e0bb,2018-04-05 09:01:36.702000
14,0.0,5ac5e626bb5152000d09e0c0,True,2018-04-05 09:02:30.790000,Concrete,concrete,5ac5e5d6bb5152000d09e0bb,2018-04-05 09:02:30.790000
15,0.0,5ac5e656bb5152000d09e0c2,True,2018-04-05 09:03:18.330000,Miscellaneous,miscellaneous,5ac5e5d6bb5152000d09e0bb,2018-04-05 09:03:18.330000
16,0.0,4bd72a7d55cd49f697362257,True,2017-08-31T10:39:24,Aggregate,aggregate,56bd5fc60799471c90a7f5ea,2017-09-15 17:05:54.905000
17,0.0,be84441de2d9434b8b0e97b3,True,2017-08-31T10:39:24,Gradually Varied Flow,gradually-varied-flow,7cf7bdb1c1464e82b21de6c9,2017-08-31T10:39:24
18,0.0,364b1e914cde49009f85fdc0,True,2017-08-31T10:39:23,Bricks,bricks,56bd5fc60799471c90a7f5ea,2017-08-31T10:39:23
19,0.0,acff5e04a13849be9f031bd4,True,2017-08-31T10:39:24,Plastics,plastics,56bd5fc60799471c90a7f5ea,2017-08-31T10:39:24
20,0.0,abe0ee362189418c830660e3,True,2017-08-31T10:39:24,"Gradient, Divergence & Curl",gradient-divergence--curl,9c6bdbbdab294f3588ed7bb4,2017-08-31T10:39:24
21,0.0,5ac5e5fdbb5152000d09e0bd,True,2018-04-05 09:01:49.179000,Piling,piling,5ac5e5d6bb5152000d09e0bb,2018-04-05 09:01:49.179000
22,0.0,2d113cedfa2946f6a6dde88a,True,2017-08-31T10:39:24,Measurement Of Fluid Pressure,measurement-of-fluid-pressure,7cf7bdb1c1464e82b21de6c9,2017-08-31T10:39:24
23,0.0,01b7f0900c4c4bcab93ad326,True,2017-08-31T10:39:24,Base Isolation & Retrofitting,base-isolation--retrofitting,74296ce7aa304946b5629635,2017-08-31T10:39:24
24,0.0,59bc0d51f179a40001fa6720,True,2017-09-15 17:26:41.233000,Liquid in Relative Equilibrium,liquid-in-relative-equilibrium,7cf7bdb1c1464e82b21de6c9,2017-09-15 17:26:41.233000
25,0.0,49cb96b24e6e450b98a5e2cc,True,2017-08-31T10:39:24,Ductility,ductility,74296ce7aa304946b5629635,2017-08-31T10:39:24
26,0.0,dc6857cea7044282b53ad48e,True,2017-08-31T10:39:24,Turbines,turbines,7cf7bdb1c1464e82b21de6c9,2017-08-31T10:39:24
27,0.0,a126adb84e7348db8319d6b4,True,2017-08-31T10:39:24,Earthquake Resistance Design Of Building,earthquake-resistance-design-of-building,74296ce7aa304946b5629635,2017-08-31T10:39:24
28,0.0,486d734830a44056ba893461,True,2017-08-31T10:39:24,Design of Footings,design-of-footings,74296ce7aa304946b5629635,2017-09-15 17:03:03.592000
29,0.0,f96982c2fbfe492d8ba6e812,True,2017-08-31T10:39:24,Design of Retaining Walls,design-of-retaining-walls,74296ce7aa304946b5629635,2017-09-15 17:03:31.115000
...,...,...,...,...,...,...,...,...
1312,0.0,5bfdb496ab9c27dedea50507,True,2018-11-27 21:18:14.038000,Stacks,stacks,5bfdb373ab9c272b3ea50504,2018-11-27 21:18:14.038000
1313,0.0,5bfdb4a8ab9c27edeca50508,True,2018-11-27 21:18:32.473000,Queues,queues,5bfdb373ab9c272b3ea50504,2018-11-27 21:18:32.473000
1314,0.0,5bfdb4b6ab9c274da4a50509,True,2018-11-27 21:18:46.310000,Graphs,graphs,5bfdb373ab9c272b3ea50504,2018-11-27 21:18:46.310000
1315,0.0,5bfdb4c2ab9c27472aa5050a,True,2018-11-27 21:18:58.481000,Binary Trees,binary-trees,5bfdb373ab9c272b3ea50504,2018-12-11 00:21:55.552000
1316,0.0,5bfdb4cdab9c2714c4a5050b,False,2018-11-27 21:19:09.428000,Priority Queues,priority-queues,5bfdb373ab9c272b3ea50504,2018-11-27 21:19:09.428000
1317,0.0,5bfdb4d4ab9c275f24a5050c,True,2018-11-27 21:19:16.986000,Heaps,heaps,5bfdb373ab9c272b3ea50504,2018-11-27 21:19:16.986000
1318,0.0,5bfdb4e4ab9c275d3ca5050d,True,2018-11-27 21:19:32.751000,Disjoint Sets,disjoint-sets,5bfdb373ab9c272b3ea50504,2018-11-27 21:19:32.751000
1319,0.0,5bfdb4f0ab9c27b589a5050e,True,2018-11-27 21:19:44.534000,Sorting,sorting,5bfdb37aab9c27761ba50505,2018-11-27 21:19:44.534000
1320,0.0,5bfdb4fdab9c27aeb3a5050f,True,2018-11-27 21:19:57.559000,Searching,searching,5bfdb37aab9c27761ba50505,2018-11-27 21:19:57.559000
1321,0.0,5bcca66c5e466c9032a3acdc,True,2018-10-21 16:16:44.297000,pointer,pointer,e64d8f83d14041099149fdf8,2018-10-21 16:16:44.297000
1322,0.0,5bfdb516ab9c279d74a50510,False,2018-11-27 21:20:22.641000,Hashing,hashing,5bfdb37aab9c27761ba50505,2018-11-27 21:20:22.641000
1323,0.0,5bfdb51eab9c2707aca50511,True,2018-11-27 21:20:30.741000,Symbol Tables,symbol-tables,5bfdb37aab9c27761ba50505,2018-11-27 21:20:30.741000
1324,0.0,5bfdb53dab9c2721a1a50512,True,2018-11-27 21:21:01.819000,Recursion,recursion,5bfdb37aab9c27761ba50505,2018-11-27 21:21:01.819000
1325,0.0,5bfdb558ab9c2786f1a50514,True,2018-11-27 21:21:28.970000,Text Processing,text-processing,5bfdb37aab9c27761ba50505,2018-12-18 00:22:24.686000
1326,0.0,5bfdb56eab9c27458fa50515,True,2018-11-27 21:21:50.240000,Dynamic Programming,dynamic-programming,5bfdb37aab9c27761ba50505,2018-11-27 21:21:50.240000
1327,0.0,5bfdb5c4ab9c27d4f1a50516,True,2018-11-27 21:23:16.813000,Complexity Classes,complexity-classes,5bfdb37aab9c27761ba50505,2018-11-27 21:23:16.813000
1328,0.0,5bfdb66aab9c275777a50517,True,2018-11-27 21:26:02.746000,Array Lists,array-lists,5bfdb373ab9c272b3ea50504,2018-12-11 00:23:08.504000
1329,0.0,5bfdb543ab9c274935a50513,False,2018-11-27 21:21:07.749000,Backtracking,backtracking,5bfdb37aab9c27761ba50505,2018-11-27 21:21:07.749000
1330,0.0,5bfdb690ab9c270999a50518,True,2018-11-27 21:26:40.219000,Maps,maps,5bfdb373ab9c272b3ea50504,2018-11-27 21:26:40.219000
1331,0.0,5bfdb980ab9c272fb5a50519,True,2018-11-27 21:39:12.292000,Algorithmic Analysis,algorithmic-analysis,5bfdb37aab9c27761ba50505,2018-11-27 21:39:12.292000
1332,0.0,5c0f03099d80114edd3bd366,True,2018-12-11 00:21:29.540000,Arrays,arrays,5bfdb373ab9c272b3ea50504,2018-12-11 00:21:29.540000
1333,0.0,5c0f03359d8011c11f3bd367,True,2018-12-11 00:22:13.401000,Binary Search Trees,binary-search-trees,5bfdb373ab9c272b3ea50504,2018-12-11 00:22:13.401000
1334,0.0,5c0f037b9d8011f1113bd368,True,2018-12-11 00:23:23.273000,Hashing,hashing,5bfdb373ab9c272b3ea50504,2018-12-11 00:26:04.473000
1335,0.0,5bcc412f1972af38926c6915,False,2018-10-21 09:04:47.968000,Interfaces,interfaces,5aface42d22ee4000db4b4f8,2018-10-21 09:04:47.968000
1336,0.0,5c183dfde77fbc1a7d009e0f,True,2018-12-18 00:23:25.725000,Greedy Algorithms,greedy-algorithms,5bfdb37aab9c27761ba50505,2018-12-18 00:23:25.725000
1337,0.0,5c27daa57c182a2f129f7896,True,2018-12-29 20:35:49.131000,Miscellaneous,miscellaneous,5bfdb37aab9c27761ba50505,2018-12-29 20:35:49.131000
1338,0.0,5c183f9ee77fbc2aa5009e10,True,2018-12-18 00:30:22.053000,Pointers (C/C++),pointers-cc,3835d8c367564425b162d7db,2018-12-18 00:30:22.053000
1339,0.0,5c49ef683a24115fd20c7798,True,2019-01-24 17:01:28.980000,Miscellaneous,miscellaneous,5c49ef5e3a2411121c0c7797,2019-01-24 17:01:28.980000
1340,0.0,5c27da067c182a75819f7871,True,2018-12-29 20:33:10.467000,Back Tracking,back-tracking,5bfdb37aab9c27761ba50505,2018-12-29 20:33:10.467000
1341,0.0,5c27daad7c182a6f7a9f7897,True,2018-12-29 20:35:57.961000,Miscellaneous,miscellaneous,5bfdb373ab9c272b3ea50504,2018-12-29 20:35:57.961000